.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container  > * {
  height: 100%;
  padding: 20px;
  overflow: auto;
}

.editor-container {
  width: 65%;
}

.list-container {
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;  
}

.list-searchbox {
  padding: 10px;
  border-radius: 10px;
  min-height: 50px;
  background-color: var(--background);
}

.list-operation {
  margin: 10px 0;
}

.list-ope-button {
  border: 1px solid var(--background);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: transparent;
  color: var(--foreground);
}

.list {
  flex: auto;
  overflow: auto;
}

.list-item {
  height: 100px;
  border-bottom: 1px solid var(--background);
  padding: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.list-item > div {
  height: 100%;
}

.list-item--title {
  color: blue;
}

.list-item--time {
  color: gray;
}

.list-item--content {
  color: var(--foreground);
  overflow: hidden;
  white-space: pre-wrap;
}

.list-item--ope {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}